<div class="login">
	<form name="loginForm">
  	<i class="photo"></i>
    <h1>THOLOS</h1>
    <div class="row error-info" data-ng-class="{'shown': error.flag}" data-ng-bind-html="error.infor"></div>
    <!--/ .error-info -->
    <div class="row icon row-inputs username">
    	<input type="text" placeholder="Username" data-ng-model="login.username" ng-keyup="$event.keyCode == 13 && valdate()" name="username" required="required" maxlength="64" />
    </div>
    <!--/ .username -->
    <div class="row icon row-inputs password">
    	<input type="password" placeholder="Password" data-ng-model="login.password" ng-keyup="$event.keyCode == 13 && valdate()" name="password" required="required" />
    </div>
    <!--/ .password -->
    <div class="row row-common">
    	<!--<div class="small-6 columns">
      	<label class="checkbox">
        	<input type="checkbox" />
          <span></span>
          Remember Me!
        </label>
      </div>
      <div class="small-6 columns">
      	<a href="javascript:;" class="right">
        	Forgot Password?
        </a>
      </div>-->
    </div>
    <!--/ .row -->
    <div class="row">
    	<a href="javascript:;" class="button expand btn-login" data-ng-click="valdate();">LOGIN</a>
    </div>
  </form>
  <!--/ Form -->
</div>
<!--/ .login -->